sudo: required
services: 
  - docker

env:
  global:
    - SHA=$(git rev-parse HEAD)
    - CLOUDSDK_CORE_DISABLE_PROMPTS=1
before_install:
  # - openssl aes-256-cbc -K $encrypted_9f3b5599b056_key -iv $encrypted_9f3b5599b056_iv -in service-account.json.enc -out service-account.json -d
  # - curl https://sdk.cloud.google.com | bash > /dev/null;
  # - source $HOME/google-cloud-sdk/path.bash.inc
  # - gcloud components update kubectl
  # - gcloud auth activate-service-account --key-file service-account.json
  # - gcloud config set project multi-k8s-339213
  # - gcloud config set compute/zone asia-southeast1-a
  # - gcloud container clusters get-credentials multi-cluster
  # - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
  # - docker build -t testecx14/react-test -f ./appclient/Dockerfile.dev ./appclient
  ######--------- kubeconfig ---------######
  # - apk add --no-cache curl
  # - curl -LO https://storage.googleapis.com/kubernetes-release/release/$(curl -s https://storage.googleapis.com/kubernetes-release/release/stable.txt)/bin/linux/amd64/kubectl
  # - chmod +x ./kubectl
  # - mv ./kubectl /usr/local/bin/kubectl
  # - kubectl config set-cluster nosebit --server="$KUBE_URL" --insecure-skip-tls-verify=true
  # - kubectl config set-credentials admin --username="$KUBE_USER" --password="$KUBE_PASSWORD"
  # - kubectl config set-context default --cluster=nosebit --user=admin
  # - kubectl config use-context default
  # - 'printf "apiVersion: v1\nkind: Secret\n$(kubectl create secret docker-registry gitlab-registry --docker-server=$CI_REGISTRY --docker-username=$CI_REGISTRY_USER --docker-password=$CI_REGISTRY_PASSWORD --docker-email=$GITLAB_USER_EMAIL -o yaml --dry-run)" | kubectl apply -f -'
  # - sed 's/_APP_NAME_/'"$CI_PROJECT_NAME"'/g; s/_VERSION_/'"$CI_COMMIT_SHA"'/g' kubernetes.develop.yml > kubernetes.yml;
  # - kubectl apply -f kubernetes.yml

script:
  - docker run -e CI=true testecx14/react-test npm test

deploy:
  provider: script 
  script: bash ./deploy.sh
  on:
    branch: master
